.section-child1,
.section4 {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  right: 0;
  left: 0;
  overflow: hidden;
}
.section-child1 {
  height: 0.5px;
  bottom: -0.5px;
  max-width: 100%;
}
.section4 {
  height: 57px;
  top: 80px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xl) 0;
  box-sizing: border-box;
  z-index: 2;
}
